doc/projekt.aux
doc/projekt.blg
doc/projekt.log
doc/projekt.ptc
doc/projekt.out
doc/projekt.synctex.gz
doc/projekt.toc
theta/data/R0010079.MP4
theta/data/R0010081.MP4
theta/data/new/R0010087.MP4
theta/data/new/R0010086.JPG
theta/data/new/R0010083.MP4
theta/data/new/R0010085.JPG
theta/data/new/R0010084.MP4
theta/data/R0010082.MP4
*.MP4
theta/data/new/new2/R0010085.JPG
theta/data/new/new2/R0010088.JPG
theta/data/new/new2/R0010086.JPG
theta/data/new/new2/R0010089.JPG
theta/data/new/new2/R0010090.JPG
theta/data/p6.jpg