input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #069;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddd;
}

/* progress bar */
 
input[type=range]::-moz-range-progress {
  background-color: green;
  height: 1em;
  border-radius: 5px;
}

 /* =========================================================== */
 /* =============== IKONY + PROFRAM  ======================= */
 /* =========================================================== */


        body {
            margin: 0px;
            padding: 0px;
            border: 0px solid blue;
            width: auto;
            height: auto;
            overflow: hidden;
            overflow-x: hidden;
        }

        body::-webkit-scrollbar { 
            display: none; 
        }


         .unique:before {
           content: attr(data-label);
        }

        progress {
            display: block;
            -webkit-appearance: none !Important;
            border: none;
        }

        #overlay  {
            background-image: url(../img/loader.gif);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            background-color:  #ddd !important;
            position :  absolute ;
            overflow :   hidden ;
            left :   0px ;
            top :   0px ;
        }


        canvas {
            margin: 0px;
            padding: 0px;
            border: 0px solid blue;
            overflow: hidden;

        } 

        #viewer {
            margin: 0px;
            padding: 0px;
            border: 0px solid blue;
            overflow: hidden;
        } 

        .compass_bg {
            background-image: url(../img/kompas_bg2.png) !important;  
        }

        .compass_arrow{
            background-image: url(../img/strelka.png) !important;  
        }


/************************************ VIDEO BUTTONS ******************************************/

        .play_icon {
            background-image: url(../img/icon_play.png);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            cursor: pointer;
            border: none;
        }

        .play_icon:hover {
            opacity: 0.8;
        }
        .pause_icon {
            background-image: url(../img/icon_pause.png);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            cursor: pointer;
            border: none;
        }

        .pause_icon:hover {
            opacity: 0.8;
        }


        .sound_icon {
            background-image: url(../img/icon_sound.png);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            cursor: pointer;
            border: none;
        }

        .sound_icon:hover {
            opacity: 0.8;
        }

        #video_controlls_btn_slider_volume {
           /* background-image: url(../img/icon_sound.png);  */
            background-repeat: no-repeat !important;
            background-position:  left center   !important ;
            cursor: pointer;
            border: none;
            margin-left: 20px;
         }

        .volume_on_icon {
            background-image: url(../img/icon_sound.png);  
            background-repeat: no-repeat !important;
            background-position:  left center   !important ;
            cursor: pointer;
            border: none;
         }

        .volume_off_icon {
            background-image: url(../img/icon_sound_mute.png);  
            background-repeat: no-repeat !important;
            background-position:  left center   !important ;
            cursor: pointer;
            border: none;
         }

/************************************ PROGRAM BUTTONS ******************************************/
         #panorama_controlls_btn_fullstreen {
            width: 100px;

         }

        .fullscreen_icon {
            background-image: url(../img/icon_fullscreen.png);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            cursor: pointer;
            border: none;
            margin-left: 10px;
            opacity: 0.654;
        }
        .fullscreen_icon:hover {
            opacity: 1.0;
        }


        .normalscreen_icon {
            background-image: url(../img/icon_normalscreen.png);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            cursor: pointer;
            border: none;
            margin-left: 10px;
            opacity: 0.654;
        }

        .normalscreen_icon:hover {
            opacity: 1.0;
        }




        .zoom_plus_icon {
            background-image: url(../img/icon_controlls_zoom_plus.png);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            cursor: pointer;
            border: none;
            margin-left: 10px;
            border: 0px solid black;
            opacity: 0.654;
        }
        .zoom_plus_icon:hover {
            opacity: 1.0;
        }



        .zoom_minus_icon {
            background-image: url(../img/icon_controlls_zoom_minus.png);  
            background-repeat: no-repeat !important;
            background-position:  center center   !important ;
            cursor: pointer;
            border: none;
            margin-left: 10px;
            border: 0px solid black;
            opacity: 0.654;

        }

        .zoom_minus_icon:hover {
            opacity: 1.0;
        }



        .settings_icon {
            background-image: url(../img/icon_settings.png);  
            background-repeat: no-repeat !important;
            background-position:  left center   !important ;
            cursor: pointer;
            border: none;
            margin-left: 10px;
            opacity: 0.654;
         }

        .settings_icon:hover {
            opacity: 1.0;
        }

        
        .settings_icon,
        .normalscreen_icon,
        .fullscreen_icon,
        .zoom_plus_icon,
        .zoom_minus_icon {
            width: 50px !important;
        }


        .window_settings_btn_inactive {
            background-color: #f00;
             opacity: 0.75;
            cursor: pointer;
            text-align: center;
            color: white;
            float: left;
            clear: both;
            height: 20px !important;
        }
        .window_settings_btn_active {
            background-color: #0d0;
            opacity: 0.75;
            cursor: pointer;
            text-align: center;
            color: white;
            float: left;
            clear: both;
            height: 20px !important;
        }

        .window_settings_btn_inactive:hover, .window_settings_btn_active:hover {
            opacity: 1;
        }

        /**/
         .window_settings_btn_mode {
            background-color: #aaa;
             opacity: 0.75;
            cursor: pointer;
            text-align: center;
            color: white;
            float: left;
            clear: both;
            height: 20px !important;
        }

        .window_settings_btn_mode:hover {
            opacity: 1;
        }
